* {
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-family: 'Playfair Display', serif;
}

ul {
	li {
		display: inline-block;
		a {
			padding: 0.5em;
		}
	}
}

section {
	padding: 1em;
}

button {
	margin-top: 1em;
	font-size: 1em;
}

table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	tr {
		height: 2.1em;
		&:nth-child(2n){
			background-color: $grey-lighter;
		}
		&:nth-child(2n+1){
			background-color: $grey-lightest;
		}
	}
	th {
		background-color: $secondary-color;
	}
}

.info {
	text-align: center;
	color: $grey-light;
	font-style: italic;
	margin-top: 2em;
	font-size: 1.2em;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.main {
	flex: 1;
}
