/* COLOURS */

$primary-color: tomato;
$secondary-color: darken(adjust-hue($primary-color, 170), 20%);
$dark-color:darken($primary-color, 14%);
$light-color: lighten(adjust-hue($primary-color, 25), 10%);

$success-color: #b1cf66;
$success-dark: darken($success-color, 20%);
$alert-color: tomato;

/* GREY SCALE */
$black: hsl(0, 0%, 0%); // hue 0-360 | saturation 0-100% | lightness 0-100%;
$white: hsl(0, 0%, 100%); // #ffffff;
$grey: hsl(0, 0%, 50%); // #909090;

$black-opacity: rgba(0, 0, 0, 0.03);
$white-opacity: rgba(255, 255, 255, 0.8);
$white-modal-opacity: rgba(255, 255, 255, 0.95);
$grey-darkest-opacity: rgba(39, 39, 39, 0.9);

$grey-darkest: darken($grey, 45%);
$grey-darker: darken($grey, 30%);
$grey-dark: darken($grey, 15%);
$grey-light: lighten($grey, 15%);
$grey-lighter: lighten($grey, 30%);
$grey-lightest: lighten($grey, 45%);

@mixin bgcolor-opacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin linear-gradient($direction, $color-1, $color-2) {
  background: linear-gradient($direction, $color-1, $color-2);
}
