@import "../../styles/variables";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: $grey-darker;
  color: $white;
  p {
    display: flex;
    align-items: center;
  }
  a {
    padding: 0;
    color: $grey;
    &:hover {
      color: $white;
      font-weight: 900;
    }
  }
}
