@import "../../styles/variables";

.x-close {
  background-color: $white;
  color: $light-color;
  border: 1px solid $light-color;
  font-size: 1.2em;
  line-height: 1.2em;
  cursor: pointer;
  &:hover{
    background-color: $light-color;
    color: $white;
  }
  a{
    padding: 0 .3em;
  }
}
